name: Build app for Android

on:
  push:
    branches: [ main, master ]
  pull_request:
    types: [ opened, edited, synchronize ]

jobs:
  build-android-aab:
    name: Build Android App Bundle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.3'

      - name: Install dependencies
        run: flutter pub get

      - name: Build AAB
        run: flutter build appbundle --release